/* INIZIO REGOLE GENERICHE */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  min-width: 320px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
}
main a {
  color: #2485fd;
}
/* FINE REGOLE GENERICHE */

/* INIZIO REGOLE ELEMENTI RIPETUTI */
/* Padding */
.ms_section_padding {
  padding: 50px 0;
}
.ms_padding_top {
  padding-top: 30px;
}
/* Fine padding */

/* Sezioni */
.ms_section_grey {
  background-color: #f3f5f9;
  color: #76819c;
  text-align: center;
}
.ms_section_grey h2,
.ms_section_grey h4,
.ms_section_grey h5,
.ms_section_grey h6 {
  color: #031b4e;
}

.ms_section_white {
  color: #76819c;
  text-align: center;
}
.ms_section_white h2,
.ms_section_white h4 {
  color: #031b4e;
}
.ms_section_blue {
  background-image: linear-gradient(#0047c5, #001e99);
  color: white;
  text-align: center;
}
.large_text {
  font-size: 20px;
}
/* Fine sezioni */

/* Slider */
.ms_slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.ms_slider_main {
  max-width: 992px;
  width: 80%;
  margin: auto;
  color: white;
}
.ms_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}
.ms_arrow_left {
  left: 0;
  color: #76819c;
}
.ms_arrow_right {
  right: 0;
  color: #031b4e;
}
.ms_slider_position li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #2485fd;
}
.ms_slider_position .active {
  background-color: #2485fd;
}

/* Fine slider */
/* FINE REGOLE ELEMENTI RIPETUTI */

/* Inizio debug */
.debug {
  border: 2px solid red;
  background-color: pink;
}
.debug2 {
  border: 2px solid blue;
  background-color: lightgray;
}
/* Fine debug */

/* INIZIO HEADER */
.navbar {
  background-color: #fff;
}
.logo {
  line-height: 64px;
}
.logo img {
  width: auto;
  height: 30px;
}
.ms_burger_menu {
  font-size: 25px;
  line-height: 64px;
  color: #2485fd;
}
.ms_menu {
  line-height: 64px;
  color: #031b4e;
  font-size: 15px;
  font-weight: bold;
}
.ms_menu_center {
    float: left;
}
.ms_menu_right {
    float: right;
}
.ms_menu .ms_btn {
 color: #2485fd;
 border-color: #2485fd;
}
/* FINE HEADER */

/* INIZIO SEZIONI MAIN */
/* Inizio jumbotron */
#ms_jumbo {
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
}
.ms_teaser {
  color: #FFF;
}
.ms_teaser h1 {
  font-size: 50px;
}
.ms_form {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}
.ms_form h2 {
  color: #031b4e;
}
.ms_form h4 {
  font-size: 25px;
  font-weight: bold;
  color: #2485fd;
}
.ms_btn_account {
  background-color: #579aff;
  color: #FFF;
}
.ms_btn_signup {
  margin-top: 5px;
  box-shadow: 1px 1px #edeced;
  color: #717171;
}
.ms_form p  {
  color: #031b4e;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}
.ms_form p a {
  text-decoration: underline;
}
/* Fine jumbotron */


/* Inizio customer */
.ms_customer_logo li {
  width: calc(98%/6);
}
.ms_customer_logo li img {
  vertical-align: middle;
}
@media screen and (max-width: 991px) {
  .ms_customer_logo li {
    width: calc(98%/2);
  }
}
/* Fine customer */

/* Inizio configuration */
.ms_configuration_list {
  border-left: 1px solid;
  margin-left: 150px;
  padding-left: 5px;
}
.ms_configuration_list li {
  margin: 15px 0;
}
@media screen and (max-width: 991px) {
  .ms_configuration_list {
    margin-left: 0;
  }
}
/* Fine configuration */

/* Inizio developers slider */
@media screen and (max-width: 1199px) {
  #developers .ms_slider {
    margin-top: 100px;
  }
  #developers .ms_slider_position {
    margin-top: 100px;
  }
}
/* Fine developers slider */

/* Inizio worldwide */
.ms_worldwide_row {
  border-bottom: 1px solid;
  /* padding-bottom: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 35px; */
}
/* .ms_abbreviation {
  display: inline-block;
  width: 15%;
  text-transform: uppercase;
}
.ms_city_state {
  display: inline-block;
  width: 60%;
}
@media screen and (max-width: 1199px) {
  .ms_worldwide_margin_top {
    margin-top: 50px;
  }
} */
/* Fine worldwide */

/* Inizio teams slider */
#teams .ms_slider_content {
  background-color: #fff;
  padding: 50px 0;
  margin-top: 100px;
  margin-bottom: 50px;
}
#teams .ms_slider_content p {
  color: #76819c;
  margin: 25px 0;
}
#teams .ms_slider_content a {
margin-top: 25px;
}
/* Fine teams slider */

/* Inizio started now */
.ms_btn_started {
  margin-top: 25px;
  font-weight: bold;
  color: #2485fd;
}
/* Fine started now */
/* FINE SEZIONI MAIN */

/* INIZIO FOOTER */
footer {
  background-color: #031c4e;
  color: #7a859d;
  padding: 70px 0;
}
.ms_menu_footer li:first-child {
  font-weight: bold;
  color: #fff;
}
.ms_made_footer {
  color: #4d5d7e;
}
@media screen and (max-width: 991px) {
  .ms_menu_footer {
    margin-top: 25px;
  }
}
/* FINE FOOTER */
